{% extends 'base.html' %}
{% block title %}Запись пользователя {{ author }} {% endblock %}
{% block header %}Записи пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    {% include 'includes/profile_card.html' with author=author posts_count=posts_count %}
    <div class="col-md-9">
      <div class="card mb-3 mt-1 shadow-sm">
        <div class="card-body">
            {% include "includes/post_item.html" with post=post %}
            {% include  'includes/comments.html' with comments=comments %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}