{% extends 'base.html' %}
{% block title %}Записи пользователя {{ author }} {% endblock %}
{% block header %}Записи пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    {% include 'includes/profile_card.html' with author=author posts_count=posts_count %}

     <div class="col-md-9">
    {% for post in page %}
     {% include "includes/post_item.html" with post=post %}
    {% endfor %}
        <!-- Конец блока с отдельным постом -->
        <!-- Остальные посты -->
     <p>{% include 'includes/paginator.html' with page=page %}</p>
     <!-- Здесь постраничная навигация паджинатора -->
     </div>

  </div>
</main>
{% endblock %}